.imageBox {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: auto;
  transform: translate(-50%,-50%);
  text-align: center;
} 

h1{
  color:#EEEEE3;
}

h2{
  color:#EEEEE3;
}

.myImg {
  height: 200px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
}

.intro{
  color: #EEEEE3;
  font-size: 1.2rem;
}